.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.project-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
  margin: 2rem auto;
}

.project-card {
  background: #131212;
  padding: 1.2rem 1rem;
  /* box-shadow: 10px 10px rgba(43, 42, 117, 0.3); */
  box-shadow: 10px 10px rgba(112, 112, 153, 0.3);
  border-radius: 5px;
}

/* .project-card:hover {
  /* border: 1px solid rgba(29, 28, 113, 0.3); */
/* box-shadow: 20px 20px rgba(128, 127, 204, 0.3); */
/* } */

.project-card img {
  width: 100%;
}
.project-title {
  color: #fff;
  padding: 1rem 0;
  font-weight: 500;
  margin: 1.5rem auto;
}

.pro-details p {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-align: justify;
  font-weight: 400;
  line-height: 1.3rem;
  line-height: 1.6rem;
}

.pro-btns {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.pro-btns .btn-projects {
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 740px) {
  .project-container {
    max-width: 90%;
    margin: auto;

    grid-template-columns: 1fr;
  }
}
